// colors
$color-primary: #8c8cff;
$color-primary-light: #b3b3ff;
$color-primary-ultralight: #e5e5ff;
$color-black: #191919;
$color-black-light: #262626;
$color-black-ultralight: #404040;
$color-grey: #ababab;
$color-pure-white: #fff;
$color-white: #f2f2f2;
